In [44]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [14]:
df = pd.read_csv("./Data/Cleaned.csv")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382587 entries, 0 to 382586
Data columns (total 36 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Benefit Type                      382587 non-null  object
 1   Claim Status                      382587 non-null  object
 2   ClaimEvent_TPA_ID                 382587 non-null  int64
 3   Medical Service Provider ID       382587 non-null  object
 4   No of Days Stayed                 382587 non-null  int64
 5   Primary Diagnosis Code            382587 non-null  object
 6   Hospital Type                     382587 non-null  object
 7   TPA NAME                          382587 non-null  object
 8   Net Amt                           382587 non-null  int64
 9   Benefit Code                      382587 non-null  object
 10  Gender Code                       382587 non-null  object
 11  Residence Location                382587 non-null  object
 12  Reject status more than 3 months  382587 non-null  int64
 13  settlement_delay                  382587 non-null  int64
 14  age                               382587 non-null  int64
 15  Start_year                        382587 non-null  int64
 16  Start_month                       382587 non-null  int64
 17  Start_week                        382587 non-null  int64
 18  Start_day                         382587 non-null  int64
 19  Start_dayofweek                   382587 non-null  int64
 20  Reported_year                     382587 non-null  int64
 21  Reported_month                    382587 non-null  int64
 22  Reported_week                     382587 non-null  int64
 23  Reported_day                      382587 non-null  int64
 24  Reported_dayofweek                382587 non-null  int64
 25  Commencement_year                 382587 non-null  int64
 26  Commencement_month                382587 non-null  int64
 27  Commencement_week                 382587 non-null  int64
 28  Commencement_day                  382587 non-null  int64
 29  Commencement_dayofweek            382587 non-null  int64
 30  Termination_year                  382587 non-null  int64
 31  Termination_month                 382587 non-null  int64
 32  Termination_week                  382587 non-null  int64
 33  Termination_day                   382587 non-null  int64
 34  Termination_dayofweek             382587 non-null  int64
 35  Class                             382587 non-null  int64
dtypes: int64(27), object(9)
memory usage: 105.1+ MB

In [16]:
df['ClaimEvent_TPA_ID']=df['ClaimEvent_TPA_ID'].astype('object')
df['Reject status more than 3 months']=df['Reject status more than 3 months'].astype('object')
df['Class']=df['Class'].astype('object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382587 entries, 0 to 382586
Data columns (total 36 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Benefit Type                      382587 non-null  object
 1   Claim Status                      382587 non-null  object
 2   ClaimEvent_TPA_ID                 382587 non-null  object
 3   Medical Service Provider ID       382587 non-null  object
 4   No of Days Stayed                 382587 non-null  int64
 5   Primary Diagnosis Code            382587 non-null  object
 6   Hospital Type                     382587 non-null  object
 7   TPA NAME                          382587 non-null  object
 8   Net Amt                           382587 non-null  int64
 9   Benefit Code                      382587 non-null  object
 10  Gender Code                       382587 non-null  object
 11  Residence Location                382587 non-null  object
 12  Reject status more than 3 months  382587 non-null  object
 13  settlement_delay                  382587 non-null  int64
 14  age                               382587 non-null  int64
 15  Start_year                        382587 non-null  int64
 16  Start_month                       382587 non-null  int64
 17  Start_week                        382587 non-null  int64
 18  Start_day                         382587 non-null  int64
 19  Start_dayofweek                   382587 non-null  int64
 20  Reported_year                     382587 non-null  int64
 21  Reported_month                    382587 non-null  int64
 22  Reported_week                     382587 non-null  int64
 23  Reported_day                      382587 non-null  int64
 24  Reported_dayofweek                382587 non-null  int64
 25  Commencement_year                 382587 non-null  int64
 26  Commencement_month                382587 non-null  int64
 27  Commencement_week                 382587 non-null  int64
 28  Commencement_day                  382587 non-null  int64
 29  Commencement_dayofweek            382587 non-null  int64
 30  Termination_year                  382587 non-null  int64
 31  Termination_month                 382587 non-null  int64
 32  Termination_week                  382587 non-null  int64
 33  Termination_day                   382587 non-null  int64
 34  Termination_dayofweek             382587 non-null  int64
 35  Class                             382587 non-null  object
dtypes: int64(24), object(12)
memory usage: 105.1+ MB

In [18]:
df.drop('Medical Service Provider ID', axis=1,inplace=True)

In [19]:
for features in df.select_dtypes(include = 'object').columns:
    print(features, ":", df[features].unique())

Benefit Type : ['SURGICAL' 'MEDICAL']
Claim Status : ['Paid' 'Cancelled / Rejected' 'Outstanding' 'Pre-Auth Approved']
ClaimEvent_TPA_ID : [51381 59682]
Primary Diagnosis Code : ['S1' 'U1' 'M1' 'S4' 'S7' 'S5' 'M2' 'S3' 'M8' 'M3' 'S2' 'M7' 'MO' 'S8'
 'M5' 'M6' 'SG' 'S6' 'S9' 'MG' '-N' 'SB' 'SL' 'MP' 'M4' 'SN' 'MC' 'SE'
 'MM' 'SV' 'MR' 'SC' 'ST' 'SO']
Hospital Type : ['Public' 'Private']
TPA NAME : ['FHPL' 'Vidal']
Benefit Code : ['SURGICAL' 'MEDICAL']
Gender Code : ['Female' 'Male']
Residence Location : ['PATIALA' 'SANGRUR' 'FATEHGARH SAHIB' 'AMRITSAR' 'SRI MUKTSAR SAHIB'
 'LUDHIANA' 'RUPNAGAR' 'FIROZEPUR' 'GURDASPUR' 'MOGA' 'BARNALA'
 'PATHANKOT' 'Tarn Taran' 'KAPURTHALA' 'FARIDKOT' 'FAZILKA' 'HOSHIARPUR'
 'BATHINDA' 'JALANDHAR' 'Shahid Bhagat Singh Nagar' 'S.A.S Nagar' 'MANSA']
Reject status more than 3 months : [0 1]
Class : [0 1]

In [36]:
X_values = df.iloc[:,:-1]
y_values = df.iloc[:,-1]

In [37]:
categorical_features = X_values.select_dtypes(include = 'object').columns.values

In [38]:
categorical_features

array(['Benefit Type', 'Claim Status', 'ClaimEvent_TPA_ID',
       'Primary Diagnosis Code', 'Hospital Type', 'TPA NAME',
       'Benefit Code', 'Gender Code', 'Residence Location',
       'Reject status more than 3 months'], dtype=object)

In [41]:
# processed_data_encoding_final = pd.get_dummies(carObject, prefix_sep="_",columns=onehot_encode_cols)

# use pd.concat to join the new columns with your original dataframe
X_onehot = pd.concat([X_values,pd.get_dummies(df,columns=categorical_features)],axis=1)

# now drop the original column (you don't need it anymore)
X_onehot.drop(categorical_features,axis=1, inplace=True)

In [42]:
X_onehot

,No of Days Stayed,Net Amt,settlement_delay,age,Start_year,Start_month,Start_week,Start_day,Start_dayofweek,Reported_year,...,Residence Location_PATHANKOT,Residence Location_PATIALA,Residence Location_RUPNAGAR,Residence Location_S.A.S Nagar,Residence Location_SANGRUR,Residence Location_SRI MUKTSAR SAHIB,Residence Location_Shahid Bhagat Singh Nagar,Residence Location_Tarn Taran,Reject status more than 3 months_0,Reject status more than 3 months_1
0,44,7500,61,50,2019,3,10,10,6,2020,...,0,1,0,0,0,0,0,0,1,0
1,3,7000,0,50,2020,6,25,15,0,2020,...,0,0,0,0,1,0,0,0,1,0
2,2,2000,25,49,2019,11,48,26,1,2019,...,0,0,0,0,0,0,0,0,1,0
3,6,7000,-142,50,2020,6,25,21,6,2020,...,0,0,0,0,1,0,0,0,1,0
4,2,7500,28,50,2020,1,4,20,0,2020,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382582,2,7500,-191,49,2019,10,42,14,0,2019,...,0,0,0,0,0,0,0,0,1,0
382583,5,12600,-107,50,2020,1,5,31,4,2020,...,0,0,0,0,0,0,0,0,1,0
382584,1,1000,303,49,2019,10,44,31,3,2019,...,0,1,0,0,0,0,0,0,1,0
382585,7,24000,5,50,2020,9,37,7,0,2020,...,0,0,0,0,0,0,0,0,1,0
382586,3,1800,-197,49,2019,9,38,17,1,2019,...,0,0,0,0,0,0,0,0,1,0

In [51]:
#normalization of feature to bring the value in the range [0,1]
minMaxScale= MinMaxScaler() #minMax scaler
columns = X_onehot.columns
X_scaled = minMaxScale.fit_transform(X_onehot)

In [52]:
X_scaled = pd.DataFrame(X_scaled, columns=columns)
X_scaled

,No of Days Stayed,Net Amt,settlement_delay,age,Start_year,Start_month,Start_week,Start_day,Start_dayofweek,Reported_year,...,Residence Location_PATHANKOT,Residence Location_PATIALA,Residence Location_RUPNAGAR,Residence Location_S.A.S Nagar,Residence Location_SANGRUR,Residence Location_SRI MUKTSAR SAHIB,Residence Location_Shahid Bhagat Singh Nagar,Residence Location_Tarn Taran,Reject status more than 3 months_0,Reject status more than 3 months_1
0,0.176955,0.021340,0.386719,1.0,0.0,0.181818,0.176471,0.300000,1.000000,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.008230,0.019917,0.327148,1.0,1.0,0.454545,0.470588,0.466667,0.000000,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.004115,0.005691,0.351562,0.0,0.0,0.909091,0.921569,0.833333,0.166667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.020576,0.019917,0.188477,1.0,1.0,0.454545,0.470588,0.666667,1.000000,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.004115,0.021340,0.354492,1.0,1.0,0.000000,0.058824,0.633333,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382582,0.004115,0.021340,0.140625,0.0,0.0,0.818182,0.803922,0.433333,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
382583,0.016461,0.035851,0.222656,1.0,1.0,0.000000,0.078431,1.000000,0.666667,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
382584,0.000000,0.002845,0.623047,0.0,0.0,0.818182,0.843137,1.000000,0.500000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
382585,0.024691,0.068289,0.332031,1.0,1.0,0.727273,0.705882,0.200000,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
382586,0.008230,0.005122,0.134766,0.0,0.0,0.727273,0.725490,0.533333,0.166667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [54]:
df_final = X_scaled
df_final['FraudFound'] = y_values
df_final.to_csv(r"./Data/df_final_preprocessed.csv", index=False)